:root {
  --darkBlue: hsl(233, 26%, 24%);
  --limeGreen: hsl(136, 65%, 51%);
  --brightCyan: hsl(192, 70%, 51%);
  --grayishBlue: hsl(233, 8%, 62%);
  --lightGrayishBlue: hsl(220, 16%, 96%);
  --veryLightGray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}
body.no-scroll {
  overflow: hidden;
}

a {
  text-decoration: none;
}

h1, h2, h3, p {
  margin-top: 0;
}

ul {
  list-style: none;
}

button, .button {
  background-image: linear-gradient(to right, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
  padding: 15px 23.5px;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  display: inline-block;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: var(--white);
  font-weight: 400;
  font-size: 0.875rem;
}
button::before, .button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.25);
  opacity: 0;
  transition: opacity 0.5s ease;
}
button:hover::before, .button:hover::before {
  opacity: 1;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}
.container--p {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
  padding-right: 22px;
  padding-left: 22px;
}
.container--px {
  padding-right: 22px;
  padding-left: 22px;
}
.container--py {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}
.container--pt {
  padding-top: 2.25rem;
}
.container--pb {
  padding-bottom: 2.25rem;
}
.container--pr {
  padding-right: 22px;
}
.container--pl {
  padding-left: 22px;
}

.header .nav {
  padding-top: 17px;
  padding-bottom: 17px;
}
.header .overlay {
  position: fixed;
  background: linear-gradient(hsl(233deg, 26%, 24%), transparent);
  top: 61px;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s ease;
  z-index: 998;
}
.header .overlay.show-overlay {
  transform: scaleY(1);
}
.header .menu-container {
  position: relative;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s ease;
  z-index: 999;
}
.header .menu-container.menu-open {
  transform: scaleY(1);
}

.nav {
  padding-top: 17px;
  padding-bottom: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-animation: fadeInDown 0.5s ease 0.4s both;
          animation: fadeInDown 0.5s ease 0.4s both;
}
.nav img {
  height: 22px;
  width: 140px;
}
.nav__toggle {
  cursor: pointer;
}
.nav__toggle .bar {
  display: block;
  width: 24px;
  height: 2px;
  background-color: var(--darkBlue);
  transition: transform 0.5s ease;
}
.nav__toggle .bar:not(:last-of-type) {
  margin-bottom: 5px;
}
.nav .is-active .bar:nth-of-type(1) {
  transform: rotate(45deg) translateY(3px) translateX(2px);
}
.nav .is-active .bar:nth-of-type(2) {
  display: none;
}
.nav .is-active .bar:nth-of-type(3) {
  transform: rotate(-45deg) translateY(-3px) translateX(2px);
}
.nav__mobile {
  position: absolute;
  left: 50%;
  margin-top: 22px;
  transform: translateX(-50%);
  width: calc(100% - 44px);
  padding: 34px 0;
  border-radius: 5px;
  background-color: var(--white);
}
.nav__mobile li {
  text-align: center;
}
.nav__mobile li:not(:last-of-type) {
  margin-bottom: 28px;
}
.nav__mobile li a {
  color: var(--darkBlue);
  font-size: 1rem;
}
.nav__links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__links li {
  position: relative;
}
.nav__links li:not(:last-child) {
  margin-right: 32px;
}
.nav__links li::before {
  width: 100%;
  left: 0;
  background: linear-gradient(to right, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
  position: absolute;
  display: block;
  height: 4px;
  bottom: -30px;
  content: " ";
  transform: scaleX(0);
  transition: transform 0.5s ease;
  transform-origin: center;
}
.nav__links li:hover::before {
  transform: scaleX(1);
}
.nav__links a {
  font-size: 0.875rem;
  color: var(--grayishBlue);
  transition: color 0.5s ease;
}
.nav__links a:hover {
  color: var(--darkBlue);
}
.nav__cta {
  color: var(--white);
  font-weight: 400;
  font-size: 0.875rem;
}

.hero {
  background-color: var(--veryLightGray);
}
@media (min-width: 1024px) {
  .hero .container {
    display: flex;
    align-items: center;
  }
}
.hero__img {
  position: relative;
  background: url("../images/bg-intro-mobile.svg");
  width: 100%;
  min-height: 282px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-width: 640px) {
  .hero__img {
    background-position: center 73%;
  }
}
@media (min-width: 640px) {
  .hero__img {
    min-height: 350px;
  }
}
@media (min-width: 1024px) {
  .hero__img {
    order: 2;
    flex: 3;
    background: none;
    min-height: 660px;
  }
}
@media (min-width: 1024px) {
  .hero__img::before {
    position: absolute;
    background: url("../images/bg-intro-desktop.svg");
    content: "";
    height: 100%;
    width: 142%;
    background-repeat: no-repeat;
    background-size: 147%;
    background-position: 17% 78%;
  }
}
.hero__img::after {
  position: absolute;
  background: url("../images/image-mockups.png");
  content: "";
  height: 110%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 20px);
}
@media (min-width: 640px) {
  .hero__img::after {
    background-size: 52%;
  }
}
@media (min-width: 1024px) {
  .hero__img::after {
    position: absolute;
    width: 141%;
    height: 122%;
    background-size: 87%;
    background-position: 146% 150%;
  }
}
.hero__text {
  text-align: center;
}
@media (min-width: 1024px) {
  .hero__text {
    order: 1;
    flex: 2.5;
    text-align: left;
  }
}
.hero__text h1 {
  font-size: 32px;
  font-weight: 300;
  line-height: 1.1;
  margin-bottom: 24px;
  color: var(--darkBlue);
  -webkit-animation: fadeInUp 0.5s ease both;
          animation: fadeInUp 0.5s ease both;
}
@media (min-width: 1024px) {
  .hero__text h1 {
    font-size: 42px;
  }
}
.hero__text p {
  font-size: 12px;
  color: var(--grayishBlue);
  line-height: 1.5;
  margin-bottom: 36px;
  -webkit-animation: fadeInUp 0.5s ease 0.2s both;
          animation: fadeInUp 0.5s ease 0.2s both;
}
@media (min-width: 1024px) {
  .hero__text p {
    font-size: 16px;
  }
}
.hero__text a {
  -webkit-animation: fadeInUp 0.5s ease 0.4s both;
          animation: fadeInUp 0.5s ease 0.4s both;
}
@media (min-width: 1024px) {
  .hero__text a {
    font-size: 14px;
  }
}

.feature {
  padding-top: 69px;
  padding-bottom: 30px;
  text-align: center;
  background-color: var(--lightGrayishBlue);
}
.feature__intro {
  margin-bottom: 60px;
}
@media (min-width: 1024px) {
  .feature__intro {
    max-width: 60%;
    margin-bottom: 60px;
  }
}
.feature h2 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 28px;
  color: var(--darkBlue);
}
.feature p {
  font-size: 12px;
  color: var(--grayishBlue);
  line-height: 1.5;
  margin-bottom: 36px;
}
@media (min-width: 1024px) {
  .feature p {
    font-size: 14px;
  }
}
@media (min-width: 1024px) {
  .feature {
    text-align: left;
  }
}
@media (min-width: 640px) {
  .feature__grid {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 640px) {
  .feature__item {
    flex: 1 0 50%;
    padding: 15px;
  }
}
@media (min-width: 1024px) {
  .feature__item {
    flex: 1;
    margin-right: 20px;
    padding: 0;
  }
}
.feature__item img {
  margin-bottom: 30px;
}
@media (min-width: 1024px) {
  .feature__item img {
    margin-bottom: 44px;
  }
}
.feature__item h3 {
  font-size: 20px;
  color: var(--darkBlue);
  margin-bottom: 28px;
  font-weight: 300;
}
@media (min-width: 1024px) {
  .feature__item h3 {
    font-size: 20px;
    font-weight: 300;
    color: var(--darkBlue);
  }
}
@media (min-width: 1024px) {
  .feature__item:last-of-type p {
    margin-right: 0;
  }
}

.articles {
  background-color: var(--veryLightGray);
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: left;
}
.articles__intro {
  text-align: center;
}
@media (min-width: 1024px) {
  .articles__intro {
    text-align: left;
  }
}
.articles h2 {
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 28px;
  color: var(--darkBlue);
}
@media (min-width: 640px) {
  .articles__grid {
    display: grid;
    justify-content: center;
    gap: 25px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .articles__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
.articles__item {
  background-color: var(--white);
  margin-bottom: 24px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.6s ease;
}
.articles__item:hover {
  transform: scale(1.05);
}
.articles__img {
  height: 201px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.articles__text {
  padding: 30px;
  background: var(--white);
  padding-top: 28px;
  padding-bottom: 28px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.articles__author {
  font-size: 11px;
  margin-bottom: 16px;
  color: var(--grayishBlue);
}
.articles h3 {
  font-size: 16px;
  color: var(--darkBlue);
  margin-bottom: 28px;
  font-weight: 300;
  transition: color 0.5s ease;
}
.articles h3:hover {
  color: var(--brightCyan);
}
.articles p {
  font-size: 13px;
  color: var(--grayishBlue);
  line-height: 1.5;
  margin-bottom: 36px;
}
@media (min-width: 1024px) {
  .articles p {
    font-size: 14px;
  }
}

.footer {
  background: var(--darkBlue);
  color: var(--white);
  padding: 40px;
  text-align: center;
}
@media (min-width: 1024px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .footer__contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.footer a {
  color: var(--white);
}
.footer__logo {
  height: 22px;
  width: 140px;
  display: inline-block;
  margin-bottom: 28px;
}
.footer__socials {
  margin-bottom: 34px;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .footer__socials {
    margin-bottom: 0;
  }
}
.footer__socials a img {
  height: 24px;
  width: 24px;
  transition: transform 0.5s ease;
}
@media (min-width: 1024px) {
  .footer__socials a img {
    height: 20px;
    width: 20px;
  }
}
.footer__socials a img:hover {
  transform: scale(1.25);
}
.footer__socials a:not(:last-child) {
  margin-right: 14px;
}
@media (min-width: 1024px) {
  .footer__socials a:not(:last-child) {
    margin-right: 10px;
  }
}
.footer__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2.5;
  font-size: 14px;
}
@media (min-width: 1024px) {
  .footer__links {
    align-items: flex-start;
  }
}
.footer__links a {
  transition: color 0.5s ease;
}
.footer__links a:hover {
  color: var(--brightCyan);
}
.footer__links.col-2 {
  margin-bottom: 34px;
}
@media (min-width: 1024px) {
  .footer__links.col-2 {
    margin-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .footer__cta {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
.footer__cta a {
  margin-bottom: 28px;
}
@media (min-width: 1024px) {
  .footer__cta a {
    font-size: 14px;
  }
}
.footer__cta p {
  color: var(--grayishBlue);
  font-size: 14px;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (min-width: 1024px) {
  .hide-for-desktop {
    display: none;
  }
}
@media (max-width: 1023.98px) {
  .hide-for-mobile {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */